<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="title" content="{{ config.blog_name }}">
		<meta name="description" content="{{ config.blog_description }}">
		
		<link rel="stylesheet" href="{{ config.directory }}/css/{{ config.blog_stylesheet }}">
	</head>
	<body>
		<div class="body">
			<div class="header">
				<h1><a href="{{ config.directory }}/">{{ config.blog_name }}</a></h1>
			</div>

			{% if vars.info %}
				<div class="info">
					<p>{{ vars.info }}</p>
				</div>
			{% endif %}

			{% if vars.error %}
				<div class="info error">
					<p>{{ vars.error }}</p>
				</div>
			{% endif %}

			{% if vars.success %}
				<div class="info success">
					<p>{{ vars.success }}</p>
				</div>
			{% endif %}

			<div class="content">
				{% block content %}{% endblock %}

				<div class="footer">
					<p>Powered by <a href="https://github.com/japannt/plog">plog!</a></p>
				</div>
			</div>

			<div class="nav">
				<ul>
					{# <li><a href="{{ config.directory }}">Home</a></li>
					<li><a href="{{ config.directory }}/posts">Posts</a></li>
					<li><a href="{{ config.directory }}/contact">Contact</a></li>
					<li><a href="{{ config.directory }}/about">About</a></li> #}
					{% for link, url in config.nav_links %}
						<li><a href="{{ config.directory }}/{{ url }}">{{ link }}</a></li>
					{% endfor %}
				</ul>
			</div>

			{% if vars.log %}
				<div class="log">
					<h2>Log</h2>
					<pre>{{ vars.log|raw }}</pre>
				</div>
			{% endif %}
		</div>
	</body>
</html>