{% extends "base.twig" %}

{% block content %}
	<img class="left float small" src="http://http.cat/{{ error }}.jpg" alt="HTTP {{ error }} error">
	<h1>A wild {{ error }}!</h1>
	<p>Aww... Don't be sad, you can always try to</p>
	<ul>
		<li><a href="{{ config.directory }}/posts">Go to the post list.</a></li>
		<li><a href="#" onclick="history.back()">Go back to the previous page.</a></li>
		<li><a href="{{ vars.request_uri }}">Reload this page.</a></li>
	</ul>
{% endblock %}	