{% extends "base.twig" %}

{% block content %}
	<div class="post">
		<h1>{{ post.title }}</h1>
		<p class="description">{{ post.description }}</p>
		<p class="date">{{ post.timestamp|date("F j, Y") }}</p>
		<div class="md">
			{{ post.content|raw }}
		</div>
	</div>

	<div class="comments">
		<h2>Comments</h2>
		<form action="{{ config.directory }}/post/comment.php" method="post">
			<input type="hidden" name="id" value="{{ post.id }}">
			<label for="name">Name</label>
			<input type="text" name="name" maxlength="24" value="Anonymous">
			<label for="text">Comment</label>
			<textarea name="text" maxlength="200"></textarea>
			<input type="submit" value="Submit">
		</form>
		{% if comments %}
			{% for comment in comments %}
				<div class="comment">
					<p class="name">{{ comment.author }}<span class="timestamp">{{ comment.timestamp|date("F j, Y") }}</span></p>
					<pre>{{ comment.content }}</pre>
				</div>
			{% endfor %}
		{% else %}
			<p>No comments yet.</p>
		{% endif %}
	</div>
{% endblock %}