{# RSS Feed #}
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
	<channel>
		<title>{{ config.blog_name }}</title>
		<link>{{ vars.url }}</link>
		<description>{{ config.blog_description }}</description>
		<language>{{ config.blog_language }}</language>
		{% for post in posts %}
			<item>
				<title>{{ post.title }}</title>
				<link>https://{{ vars.domain }}{{ config.directory }}/post?id={{ post.id }}</link>
				<description>{{ post.description }}</description>
				<pubDate>{{ post.created_at|date('D, d M Y H:i:s O') }}</pubDate>
			</item>
		{% endfor %}
	</channel>
</rss>